<h1>New Game</h1>
<div class="container">
  <ul class="list">
    <% @letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </ul>

</div>
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" name="word" class="input">
    <input type="submit" value="Play" class="btn-transparent">
  </form>

